<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Replace these values with your actual Google OAuth configuration -->
	<key>CLIENT_ID</key>
	<string>119774457316-367pmus3vdlbje1jg1qsektm1ka6pp2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119774457316-367pmus3vdlbje1jg1qsektm1ka6pp2v</string>
	<key>API_KEY</key>
	<string>YOUR_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>119774457316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TravionMobile</string>
	<key>PROJECT_ID</key>
	<string>travion-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>travion-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:119774457316:ios:YOUR_IOS_APP_ID</string>
</dict>
</plist>